{{#each posts as |post|}}


        <h2>
          <a class="postTitle text-uppercase" href="/post/{{post.id}}">{{post.title}}</a>
        </h2>
      

      <div class="col-4">
        <p>Created by
          {{post.user_id}}
          on
          {{format_date post.date_created}}
        </p>
      </div>
			
    <div>
      <p>
        {{post.content}}
      </p>
      {{/each}}
    </div>
    

  