{{#if posts.length }}
<section>
    <div>
    <div>
        <a href='/dashboard/newpost'><button type='button' class="button is-clear">+ New Post</button></a>
    </div>
</div>
    <ol>
        {{#each posts as |post| }}
        <li>
            <article>
                <div>
                    <div class="title is-2">
                        <a href='/dashboard/edit/{{post.user_id}}'>{{post.title}}</a>
                    </div>
                    <div >
                        <span>{{format_date post.date_created}}</span>
                    </div>
                    <div >
                        <span> {{post.content}}</span>
                    </div>
                </div>
            </article>
        </li><br>
        {{/each}}
    </ol>
</section>

{{else}}
<div>
    <div>
        <a href='/dashboard/newpost'><button type='button is-clear' class="button is-clear" >+ New Post</button></a>
    </div>
</div>
{{/if}}